@font-face {
    font-family: montserat;
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: cataran;
    src: url(fonts/Catamaran/Catamaran-VariableFont_wght.ttf);
}
$primary: #ff914d;
$secondary: #361f11;
$accent1: black;
$accent2:#bb6a38;

body{
    background-color: $primary;
}

#navLinks{
    #logo{
        height: 50px;
        margin-left: 750px;
    }
    margin-top: -8px;
    margin-left: -8px;
    background-color: $accent1;
    height: 100px;
    width: 1600px;
    .indent{
        padding-top: 15px;
        margin-left: 500px;
    }
    a{
        text-decoration: none;
        font-family: montserat;
        font-weight: bold;
        color: $accent2;
    }
    a:hover{
        color: $secondary;
    }
}
.space{
    margin-left: 40px;
}

h1{
    font-family: cataran;
    font-weight: bold;
}

#picBox1{
    width: 900px;
    height: 350px;
    margin-left: 350px;

    img{
        width: 100%;
        height: 100%;
    }
}
#subject{
    font-family: montserat;
    font-weight: bold;
    text-align: center;
}
.desc{
    font-family: montserat;
    text-align: center;
    padding: 45px;
}

#picBox2{
    width: 900px;
    height: 350px;
    margin-left: 350px;
    img{
        width: 100%;
        height: 100%;
    }

}

#picBox3{
    width: 900px;
    height: 350px;
    margin-left: 350px;
    img{
        width: 100%;
        height: 100%;
    }

}