$primary: #ff914d;
$secondary: #361f11;
$accent1: black;
$accent2: #bb6a38;

@font-face {
  font-family: cataran;
  src: url(fonts/Catamaran/Catamaran-VariableFont_wght.ttf);
}
@font-face {
  font-family: montserat;
  src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
  background-color: $primary;
}

#navLinks {
  #logo {
    height: 50px;
    margin-left: 750px;
  }
  margin-top: -8px;
  margin-left: -8px;
  background-color: $accent1;
  height: 100px;
  width: 1590px;
  .indent {
    padding-top: 15px;
    margin-left: 500px;
  }
  a {
    text-decoration: none;
    font-family: montserat;
    font-weight: bold;
    color: $accent2;
  }
  a:hover {
    color: $secondary;
  }
  button {
  margin-left: 200px;
  text-align: left;
  font-family: montserat;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: $primary;
  opacity: 0.5;
}
}

#services {
    cursor: pointer;
}
.cardTitle {
  display: none;
  width: 150px;
  height: 100px;
  background-color:$primary;
  margin-left: 700px;
  font-family: montserat;
  padding: auto;
  padding-bottom: 10px;
  border: 1px solid black;
}

.space {
  margin-left: 40px;
}

#brand {
  font-family: cataran;
  font-weight: bold;
  text-align: center;
}

#about {
  font-family: montserat;
  text-align: center;
}
#port {
  height: 600px;
  background-image: url(back.jpg);
  background-size: cover;
}

.first {
  z-index: 1;
  position: absolute;
  margin-left: 450px;
}

.second {
  z-index: 2;
  position: absolute;
  bottom: 0px;
  margin-left: 690px;
}
.wide {
  a {
    text-decoration: none;
    color: $secondary;
  }
  font-family: montserat;
  background-color: transparent;
  width: 150px;
  height: 50px;
}
.wide:hover {
  background-color: $primary;
  color: $secondary;
  transition: 0.5s;
}
